<a href="https://colab.research.google.com/github/Berry-G/STUDY/blob/main/Machine_learning/Jupyter%20Notebook%2C%20colab/1208TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
1. 아래 문자열의 길이를 구하시오.
    q1 = "fjdldionelamdmsd'1322qdmfgvfvc'xv-=dfdfdsf"
2. 화면에 기호 * 100개를 표시하시오.
3. 문자열 "30"을 각각 정수형, 실수형, 복소수형, 문자형으로 변환하시오.
4. 다음 문자열 "Niceyear"에서 "year" 문자열만 추출하시오.
    str = "Niceyear"
5. 다음 문자열을 거꾸로 출력하시오.
    str = "Strawberry"
6. 다음 문자열에서 '-'을 제거 후 출력하시오.
    phoneNumber = "010-5555-9999"
7. 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하시오.
  url = "http://ezenac.co.kr"
8. 다음 문자열을 모두 대문자, 소문자로 각각 출력해 보시오.
  str = "NiceYear"
9. 다음 문자열을 슬라이싱을 이용해서 "cde"만 출력하시오.
  str = "abcdefghijklmn"
10. 다음 리스트에서 "Apple" 항목만 삭제하시오.
  list = ["Banana" , "Apple", "Orange"]
"""

'\n1. 아래 문자열의 길이를 구하시오.\n    q1 = "fjdldionelamdmsd\'1322qdmfgvfvc\'xv-=dfdfdsf"\n2. 화면에 기호 * 100개를 표시하시오.\n3. 문자열 "30"을 각각 정수형, 실수형, 복소수형, 문자형으로 변환하시오.\n4. 다음 문자열 "Niceyear"에서 "year" 문자열만 추출하시오.\n    str = "Niceyear"\n5. 다음 문자열을 거꾸로 출력하시오.\n    str = "Strawberry"\n6. 다음 문자열에서 \'-\'을 제거 후 출력하시오.\n    phoneNumber = "010-5555-9999"\n7. 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하시오.\n  url = "http://ezenac.co.kr"\n8. 다음 문자열을 모두 대문자, 소문자로 각각 출력해 보시오.\n  str = "NiceYear"\n9. 다음 문자열을 슬라이싱을 이용해서 "cde"만 출력하시오.\n  str = "abcdefghijklmn"\n10. 다음 리스트에서 "Apple" 항목만 삭제하시오.\n  list = ["Banana" , "Apple", "Orange"]\n'

In [ ]:
# 1. 아래 문자열의 길이를 구하시오.
q1 = "fjdldionelamdmsd'1322qdmfgvfvc'xv-=dfdfdsf"
print("문자열 길이 :", len(q1))

문자열 길이 : 42

In [ ]:
# 2. 화면에 기호 * 100개를 표시하시오.
star = ""
for i in range(100):
  star = star + "*"
print(star)
print("별 갯수 :", len(star))

****************************************************************************************************
별 갯수 : 100

In [ ]:
# 3. 문자열 "30"을 각각 정수형, 실수형, 복소수형, 문자형으로 변환하시오.
thirty = "30"
print("정수형 :", int(thirty))
print("실수형 :", float(thirty))
print("복소수형 :", complex(thirty))
print("문자형 :", str(thirty))

정수형 : 30
실수형 : 30.0
복소수형 : (30+0j)
문자형 : 30

In [ ]:
# 4. 다음 문자열 "Niceyear"에서 "year" 문자열만 추출하시오.
fourth = "Niceyear"
print(fourth[-4:])

year

In [ ]:
# 5. 다음 문자열을 거꾸로 출력하시오.
fifth = "Strawberry"
fifth_list = list(fifth)
fifth_list.reverse()
fifth = ''.join(fifth_list)
print(fifth)

yrrebwartS

In [ ]:
# 6. 다음 문자열에서 '-'을 제거 후 출력하시오.
#    phoneNumber = "010-5555-9999"
phoneNumber = "010-5555-9999"
print(phoneNumber.strip('-',))

010-5555-9999

In [ ]:
# 7. 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하시오.
#   url = "http://ezenac.co.kr"
url = "http://ezenac.co.kr"
print(url.strip("http://"))

ezenac.co.kr

In [ ]:
# 8. 다음 문자열을 모두 대문자, 소문자로 각각 출력해 보시오.
eighth = "Strawberry"
print(eighth.upper())
print(eighth.lower())

STRAWBERRY
strawberry

In [ ]:
# 9. 다음 문자열을 슬라이싱을 이용해서 "cde"만 출력하시오.
#   str = "abcdefghijklmn"
ninth = "abcdefghijklmn"
print(ninth[2:5])

cde

In [ ]:
# 10. 다음 리스트에서 "Apple" 항목만 삭제하시오.
#   list = ["Banana" , "Apple", "Orange"]
tenth = ["Banana" , "Apple", "Orange"]
del tenth[1]
print(tenth)

['Banana', 'Orange']